<template>
  <div class="container">
    <h1>{{ msg }}</h1>
    <h2>{{ display }}</h2>
    <button type="button" class="btn btn-primary m-1" @click="onClick(7)">
      7
    </button>
    <button type="button" class="btn btn-primary m-1" @click="onClick(8)">
      8
    </button>
    <button type="button" class="btn btn-primary m-1" @click="onClick(9)">
      9
    </button>
    <button type="button" class="btn btn-primary m-1" @click="onClick('/')">
      /
    </button>
    <br />
    <button type="button" class="btn btn-primary m-1" @click="onClick(4)">
      4
    </button>
    <button type="button" class="btn btn-primary m-1" @click="onClick(5)">
      5
    </button>
    <button type="button" class="btn btn-primary m-1" @click="onClick(6)">
      6
    </button>
    <button type="button" class="btn btn-primary m-1" @click="onClick('*')">
      *
    </button>
    <br />
    <button type="button" class="btn btn-primary m-1" @click="onClick(1)">
      1
    </button>
    <button type="button" class="btn btn-primary m-1" @click="onClick(2)">
      2
    </button>
    <button type="button" class="btn btn-primary m-1" @click="onClick(3)">
      3
    </button>
    <button type="button" class="btn btn-primary m-1" @click="onClick('-')">
      -
    </button>
    <br />
    <button type="button" class="btn btn-primary m-1" @click="onClick('.')">
      .
    </button>
    <button type="button" class="btn btn-primary m-1" @click="onClick(0)">
      0
    </button>
    <button type="button" class="btn btn-primary m-1" @click="onClick('=')">
      =
    </button>
    <button type="button" class="btn btn-primary m-1" @click="onClick('+')">
      +
    </button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

enum State {
  Init,
  FirstFigure,
  SecondFigure,
  Result,
}

@Component
export default class Hello extends Vue {
  @Prop() private msg!: string;
  display = "";

  currentState = State.Init;
  firstFigure = 0;
  secondFigure = 0;
  result = 0;
  operator = "";

  resolve() {
    switch (this.operator) {
      case '+':
        return this.firstFigure + this.secondFigure        
      case '-':
        return this.firstFigure - this.secondFigure        
      case '*':
        return this.firstFigure * this.secondFigure        
      case '/':
        return this.firstFigure / this.secondFigure        
    
      default:
        break;
    }
  }

  handleSymbol(symbol: string) {
    switch (this.currentState) {
      case State.Init:
        break;
      case State.FirstFigure:
        if(symbol === '+' || symbol === '-' ||symbol === '*' || symbol === '/') {
          this.operator = symbol;
          this.currentState = State.SecondFigure;
          this.display += symbol;
        }
        break;
      case State.SecondFigure:
        if(symbol === '='){
          this.result = this.resolve();
          this.currentState = State.Result;
          this.display = this.display + symbol + this.result;
        }
        break;
      case State.Result:
        if(symbol === '+' || symbol === '-' ||symbol === '*' || symbol === '/') {
          this.firstFigure = this.result;
          this.operator = symbol;
          this.secondFigure = 0;
          this.result = 0;
          this.currentState = State.SecondFigure
          this.display = this.firstFigure + this.operator;
        }
        break;

      default:
        break;
    }
  }

  handleNumber(value: number) {
    switch (this.currentState) {
      case State.Init:
        this.firstFigure = value;
        this.currentState = State.FirstFigure;
        this.display += value;
        break;
      case State.FirstFigure:
        this.firstFigure = this.firstFigure * 10 + value;
        this.display += value;
        break;
      case State.SecondFigure:
        this.secondFigure = this.secondFigure * 10 + value;
        this.display += value;
        break;
      case State.Result:
        this.firstFigure = value;
        this.secondFigure = 0;
        this.result = 0;
        this.operator = '';
        this.currentState = State.FirstFigure
        this.display = value.toString();
        break;

      default:
        break;
    }
  }

  onClick(value: any) {
    if (typeof value === "string") {
      this.handleSymbol(value);
    } else if (typeof value === "number") {
      this.handleNumber(value);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
